@model List<clase02.Models.UserList>
@{
    ViewBag.Title = "Empleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div>
    <h2>Empleado</h2>

    <div>
        <table class="table table-dark table-striped">

            <thead>
            <th>
                ID

            </th>
            <th>
                Nombre

            </th>
            <th>
                Direccion

            </th>
            <th>
                Acciones

            </th>



            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.Id_empleado</td>
                    <td>@item.Empl_nombre</td>
                    <td>@item.Empl_direccion</td>
                    <td></td>

                    <td>@Html.ActionLink("Eliminar", "Delete", new { id = item.Id_empleado }, new { @class = "btn btn-primary" })</td>
                    <td>@Html.ActionLink("Editar", "Registro", new { id = item.Id_empleado, nombre=item.Empl_nombre }, new { @class = "btn btn-primary" })</td>
                </tr>

                }


            </tbody>
        </table>
    </div>
</div>